.add-commentary {
  margin-top: $s-size;
  max-width: 60rem;
  min-width: 100%;
  //margin: 0 auto;
  //padding: $l-size;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-commentary__text {
  background: white;
  max-width: 60rem;
  border-radius: $m-size;
  justify-self: auto;
  resize: none;
  margin-top: $s-size;
  //margin: $s-size;
  font-weight: bold;
  color: $fancy-foreground-transp;
  //margin-bottom: $s-size;
  padding: $s-size;
  border: none;
  //width: 96%
}

.add-commentary__message {
  background: none;
  color: $fancy-foreground;
  margin-bottom: $l-size;
  display: flex;
  justify-content: space-around;
}

.add-commentary__button {
  margin-top: $m-size;
  margin-bottom: $xl-size;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: $fancy-accent;
  color: white;
  box-shadow: 0px 6px 20px 2px $fancy-accent-shadow-color;
  border-radius: $xl-size;
  border: none;
  width: 100%;
  padding: $s-size;
}