.big-button {
  background: $dark-accent;
  border: none;
  border-bottom: .6rem solid darken($dark-accent, 10%);
  color: $dark-foreground;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
      margin-bottom: $xl-size;
  }
}

// button
.button {
  background: $dark-accent;
  border: none;
  border-bottom: .3rem solid darken($dark-accent, 10%);
  color: darken($dark-accent, 50%);
  font-weight: bold;
  font-size: $m-size;
  padding: $s-size;
}

button:active {
  background: $dark-accent-darker;
}

// modificação do button
.button--link {
  background: none;
  border: none;
  // border: 2px solid $dark-accent;
  // border-radius: 4px;
  // font-weight: bold;
  font-size: $m-size;
  color: $dark-accent;
  padding: $s-size;
  // padding: 0.75rem;
}