.commentary-box {
  //padding-top: $m-size;
  max-width: 60rem;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //margin: 0 auto;
  //padding: 0 $m-size;
  width: 100%;
  border: none;
}

.commentary-box__text {
  padding: $s-size;
  background: white;
  border-color: white;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  border-radius: $m-size;
  color: $fancy-foreground;
  margin-bottom: 0.4rem;
  margin: $s-size;
  white-space: normal;
}

.commentary-box__text-message {
  color: $fancy-foreground;
  display: flex;
  justify-content: center;
  flex-direction: row;
  white-space: normal;
  margin: $s-size;
}

.commentary-box__counters {
  color: $fancy-foreground-transp;
  display: flex;
  flex-direction: row;
  justify-content: initial;
}

.commentary-box__counters--text {
  margin-right: 0.4rem;
  font-weight: bold;
}

.commentary-box__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $s-size;
}

.commentary-box__button--up {
  color: white;
  font-size: $m-size;
  background: $fancy-accent;
  border-radius: $s-size;
  border: none;
  margin: $s-size;
  padding: $s-size;
}

.commentary-box__button--down {
  color: white;
  font-size: $m-size;
  background: $fancy-accent-error;
  border-radius: $s-size;
  border: none;
  margin: $s-size;
  padding: $s-size;
}