
.container-professor {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
  color: $fancy-foreground;
}

.container-professor__name {
  font-size: $l-size;
  color: $fancy-foreground;
}

.container-professor__unit {
  font-size: $m-size;
  color: rgba(72, 96, 163, 0.7);
}

.container-professor__index {
  font-size: $m-size;
  color: $fancy-foreground;
}

.container-professor__votes {
  font-size: $s-size;
  color: lighten($fancy-foreground, 30%);
}