
.container-professor {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
  color: $dark-foreground;
}

.container-professor__name {
  font-size: $l-size;
  color: $dark-foreground;
}

.container-professor__unit {
  font-size: $m-size;
  color: darken($dark-foreground, 15%);
}

.container-professor__index {
  font-size: $m-size;
  color: $dark-accent;
}

.container-professor__votes {
  font-size: $s-size;
  color: darken($dark-foreground, 30%);
}