@import url('https://fonts.googleapis.com/css?family=Cabin');

html {
    font-size: 62.5%;
}

body {
    background: $fancy-background; // darken($dark-background, 10%);
    //font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

