// colors
$off-black: #20222b;
$off-white: #F2F4F7;
$body-background: #F2F4F7;
$blue: #111F4D;
$orange: #E43A19;
$black: #020205;
$light-blue: #464b5e;
$purple: #8357c5;
// dark theme
$dark-background: #212121;
$dark-background-lighter: #323232;
$dark-foreground: #F9F7F7;
$dark-accent: #14FFEC;
$dark-accent-darker: #0D7377;
$dark-second-accent: #FF9999;
$dark-second-accent-lighter: #FFC8C8;
// spaces
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;